@import "../../../styles/globals";

.text-search {
  flex-grow: 1;
  min-width: 390px;

  &__input {
    background: $lowlight;
    border: none;
    outline: none;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 200;
    padding: 4px 8px;
    width: 100%;

    border-bottom: 2px solid transparent;
    border-radius: 4px;

    &:focus,
    &:active {
      border-color: transparent;
      border-bottom: 2px solid $highlight;
    }
    &::placeholder {
       color: $foreground;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}
