.image {
  position: relative;
  overflow: hidden;

  &--vertical:not(&--blur),
  &--vertical .lazy-load-image-background {
    padding-bottom: 150%;
    width: 100%;
  }

  &--horizontal:not(&--blur),
  &--horizontal .lazy-load-image-background {
    padding-bottom: 66.66666%;
    width: 100%;
  }

  &--grayscale img {
    // Most grayscale images have white scan borders that look bad. Hide them by zooming in slightly
    transform: scale(1.05);
  }

  &--fill {
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      color: transparent;
    }
  }

  img {
    object-fit: cover;
    object-position: bottom center;
  }
}
