.image {
  position: relative;
  overflow: hidden;

  &--fill.image--vertical:not(&--blur),
  &--fill.image--vertical .lazy-load-image-background {
    padding-bottom: 150%;
    width: 100%;
  }

  &--fill.image--horizontal:not(&--blur),
  &--fill.image--horizontal .lazy-load-image-background {
    padding-bottom: 66.66666%;
    width: 100%;
  }

  &--grayscale img {
    // Most grayscale images have white scan borders that look bad. Hide them by zooming in slightly
    transform: scale(1.05);
  }

  &--fill {
    img {
      position: absolute;
      inset: 0;
      color: transparent;
    }
  }

  img {
    object-fit: cover;
    object-position: bottom center;
    height: 100%;
    width: 100%;
    display: block;
  }
}
