$content-horizontal-margin: 16px;

$content-width-large: 1200px;
$content-width-medium: 796px;

:export {
  contentWithLarge: $content-width-large;
  contentWithMedium: $content-width-medium;
  contentHorizontalMargin: $content-horizontal-margin
}
