@import "content.module";

.content {
  margin: 16px $content-horizontal-margin 48px;
  width: 100vw;

  @media screen and (min-width: $content-width-medium + 2 * $content-horizontal-margin) {
    width: $content-width-medium;
  }

  @media screen and (min-width: $content-width-large + 2 * $content-horizontal-margin) {
    width: $content-width-large;
  }
}
