@import "../styles/globals";

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: $background;
  margin: 0;
}

* {
  color: $foreground;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
