@import "src/styles/globals";

.checkbox {
  &__label {
    position: relative;
    background: $lowlight;
    display: inline-block;
    text-align: center;
    line-height: 1.9em;
    font-size: 1.2em;
    font-weight: 200;
    padding: 0 48px;
    border-radius: 4px;
    border-bottom: 2px solid transparent;
    user-select: none;
  }
  &__input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    & + label:before,
    & + label:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    & + label:before {
      left: 8px;
      width: 20px;
      height: 20px;
      background: #333;
      border-radius: 2px;
    }

    &:checked + label:after {
      left: 10px;
      bottom: 4px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      height: 6px;
      width: 13px;
      transform: rotate(-45deg);
    }

    &:focus + label:before {
      outline: $highlight solid 1px;
      box-shadow: 0 0 8px $highlight;
    }
    &:focus + label {
      border-bottom-color: $highlight;
    }
  }
}
