@import "ImageList.module";
@import "../../app/content.module";
@import "../../styles/globals";

.image-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: start;
  column-gap: $grid-gap;

  @media screen and (min-width: $content-width-medium + 2 * $content-horizontal-margin) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (min-width: $content-width-large + 2 * $content-horizontal-margin) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &__column {
    display: grid;
    grid-template-columns: 1fr;
    gap: $grid-gap;
  }

  .image-container {
    position: relative;

    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      visibility: hidden;

      &--vertical {
        background: radial-gradient(circle at center top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.8) 100%);
      }

      &--horizontal {
        background: radial-gradient(circle at center top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 100%);
      }


      &__caption {
        padding: 24px 8px 8px;
        min-height: 60px;
        backdrop-filter: blur(1px);
      }
    }
    &:hover .image-overlay {
      visibility: visible;
    }
  }
}
