.image-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: start;
  column-gap: 16px;

  &__column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
